[Unit]
Description=OpenSMTPD
After=network.target

[Service]
ExecStart=/usr/bin/smtpd -d
ExecStop=/usr/bin/smtpctl stop

[Install]
WantedBy=multi-user.target
